/*
Custom CSS for PCP pages.
*/


#crm-container .thermometer-fill-wrapper {
  background: transparent url('../img/maroon.gif') repeat-y scroll left bottom;
}

#crm-container .thermometer-fill {
  background: transparent url('../img/gold.gif') repeat-y scroll 0 bottom;
}

/* Hide "Create your own fundraising page" link ('.pcp-create-your-own') */
#crm-container div.campaign div.pcp-create-your-own {
  display: none;
}